@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url("./assets/font/helvetica/HelveticaNeueCyr-Medium.ttf") format("truetype");
}

:root {
    --asideblue: #4766ff;
    --asidegreen: #7aa68f;
    --footercream: #f1edec;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    width: 100%;
    height: 200vh;
    background-color: black;
    color: white;
}

/* Header */

.navegacion {
    display: grid;
    grid-template-columns: 1fr 1.9fr 1.1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: white;
    position: relative;
}

.secciones {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
}

.secciones > a {
    color: black;
    font-size: 40px;
    padding: 0.2em;
}

.logo {
    display: flex;
    justify-content: end;
    align-items: center;
    color: black;
    font-size: 55px;
    font-weight: 1000;
}

.buscador {
    display: flex;
    justify-content: end;
    align-items: center;
}

.buscador > input {
    font-size: 28pt;
    cursor:pointer;
    border: none;
    background: none;
    width: 200px;
    height: 50px;
}
.buscador > input[type="search"]:hover {
    border-bottom: 1px solid black;
}

.buscador > img {
    width: 35px;
    padding: 15px;
}

.client {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
}

.client-img {
    width: 40px;
    padding: 30px;
}

/* Main */

.edicion-limitada > img {
    width: 100%; 
    position: relative;
}

.limited-container {
    display: block;
    position: absolute;
    right: 40px;
    left: 40px;
    bottom: 40px;
}

.limited-container > h2 {
    font-size: 100px;
    padding-bottom: 0.3em;
}

.limited-p {
    font-size: 45px;
    margin-bottom: 30px;
}

.limited-a {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.encuentra-tienda {
    font-size: 32px;
    text-align: center;
    padding: 2em;
}
.encuentra-tienda-p1 {
    padding: 1em 0 0em 0;
}

.encuentra-tienda-p2 {
    padding: 0em 0 1em 0;
}

.encuentra-tienda > a {
    font-size: 38px;
    color: white;
    text-decoration: underline;
    padding: 2em;
}

.contenedor-compra-ahora{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.img-compra-ahora {
    display: flex;
    width: 100%;
}

.compra-a1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 80px;
    bottom: 80px;
    
}

.compra-a2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 1350px;
    bottom: 80px;
    
}
/* .aside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
} */

.aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 0;
    -ms-layout-grid: fixed;
}

.contenedor-aside1 {
    background-color: var(--asideblue);
    min-height: 33%;
    font-size: 30px;
    padding: 100px;
}

.aside-icon {
    display: flex;
}

.aside-icon img {
    width: 40px;
    padding: 0 20px 20px 0px;
}

.contenedor-aside1 h2 {
    margin-bottom: 20px;
}

.contenedor-aside1 p {
    margin-bottom: 50px;
}

.contenedor-aside2 {
    background-color: black;
    font-size: 30px;
    padding: 100px;
    min-height: 33%;
}

.contenedor-aside2 h2 {
    margin-bottom: 20px;
}

.contenedor-aside2 p {
    margin-bottom: 50px;
}

.contenedor-aside3 {
    background-color: var(--asidegreen);
    font-size: 30px;
    padding: 100px;
    min-height: 33%;
}

.contenedor-aside3 h2 {
    margin-bottom: 20px;
}

.contenedor-aside3 p {
    margin-bottom: 50px;
}

.contacta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--footercream);
    color: black;
    padding: 5em;
}

.contacta div {
    font-size: 22px;
}

.contacta input {
    font-size: 30px;
    width: 450px;
    margin-top: 50px;
    border: none;
    background-color: var(--footercream);
    border-bottom: 1px solid #646464;
}

.siguenos img {
    width: 40px;
    margin: 40px 20px 20px 0;
}

@media screen and (min-width: 1080px) and (max-width: 1980px)  {

/* LIMITED EDITION */
.limited-container {
    right: 240px;
    bottom: 500px;  
}
}
/* Compra ahora */
.contenedor-compra-ahora{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
}
.compra-a1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 80px;
    bottom: 80px;
}

.navbar {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1080px) {

    /* Header */

.navegacion {
    display: grid;
    grid-template-columns: 1fr 1.9fr 1.1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: white;
    position: relative;
}

.secciones {
    display: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 55px;
    font-weight: 1000;
    padding: 0 30px 0 30px;
}

.buscador {
    display: none;
}

.buscador > input {
    display: none;
}

.buscador > img {
    display: none;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-img {
    width: 40px;
    padding: 30px;
}

    /* LIMITED EDITION */
    .limited-container {
        right: 400px;
        bottom: 400px;
    }

    .limited-container > h2 {
        font-size: 40px;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }

    .limited-p {
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    .limited-a {
        font-size: 30px;
    }

    /* Compra ahora */
    .compra-a1 {
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        position: absolute;
        left: 80px;
        bottom: 80px;
    }

    /* Aside */
    .aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        column-gap: 0;
        -ms-layout-grid: fixed;
    }

    /* Footer */
    .contacta {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: var(--footercream);
        color: black;
        padding: 5em;
    }
}

@media screen and (min-width: 375px) and (max-width: 768px) {

    /* Header */

    .navegacion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.9fr 1.1fr 1fr;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 150px;
        background-color: white;
        position: relative;
    }

    .secciones {
        display: none;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 45px;
        font-weight: 1000;
    }
    
    .buscador {
        display: none;
    }
    
    .buscador > input {
        display: none;
    }
    
    .buscador > img {
        display: none;
    }
    
    .client {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .client-img {
        width: 30px;
        padding: 25px;
    }

    /* LIMITED EDITION */
    .limited-container {
        bottom: 500px;  
        display: flex;
    }

    .limited-container > h2 {
        font-size: 20px;
        padding-bottom: 0.3em;
    }
    
    .limited-p {
        font-size: 15px;
        margin-bottom: 30px;
    }
    
    .limited-a {
        font-size: 15px;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }

    /* Encuentra tienda */
    .encuentra-tienda {
        font-size: 20px;
        text-align: center;
    }
    
    .encuentra-tienda > a {
        font-size: 23px;
        color: white;
        text-decoration: underline;
    }

    /* Compra ahora */
    .compra-a1 {
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        position: absolute;
        left: 80px;
        bottom: 80px;
    }

    /* Aside */
    .aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        column-gap: 0;
        -ms-layout-grid: fixed;
    }

    .contenedor-aside1 {
        background-color: var(--asideblue);
        min-height: 33%;
        font-size: 20px;
        padding: 60px;
    }
    .contenedor-aside1 h2 {
        margin-bottom: 10px;
    }
    
    .contenedor-aside1 p {
        margin-bottom: 25px;
    }
    
    .contenedor-aside2 {
        background-color: black;
        font-size: 20px;
        padding: 60px;
        min-height: 33%;
    }
    
    .contenedor-aside2 h2 {
        margin-bottom: 10px;
    }
    
    .contenedor-aside2 p {
        margin-bottom: 25px;
    }
    
    .contenedor-aside3 {
        background-color: var(--asidegreen);
        font-size: 20px;
        padding: 60px;
        min-height: 33%;
    }
    
    .contenedor-aside3 h2 {
        margin-bottom: 10px;
    }
    
    .contenedor-aside3 p {
        margin-bottom: 25px;
    }

    .contenedor-aside1 > .limited-a {
        font-size: 0px;
    }
    .contenedor-aside2 > .limited-a {
        font-size: 0px;
    }
    .contenedor-aside3 > .limited-a {
        font-size: 0px;
    }
    /* Footer */
    .contacta {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: var(--footercream);
        color: black;
    }
    .contacta div {
        font-size: 14px;
        margin-left: -40px;
    }
    
    .contacta input {
        font-size: 20px;
        width: 300px;
        margin-top: 25px;
        margin-bottom: 25px;
        border: none;
        background-color: var(--footercream);   
        border-bottom: 1px solid #646464;
    }
    .siguenos img {
        width: 20px;
        margin-left: 20px;
    }
    }